* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;

}


#startMenu {

  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 50px;

} 

#startMenu p {

  text-align: center;
  margin-top: 60px;
}



#startButton {

  margin-top: 50px;
  width: 70px;
  color: white;
  font-weight: bold;
  background-color: rgb(55, 20, 55);
  cursor: pointer;
}

#gameMenu {

  display: flex;
  flex-flow: column;
  margin-top: 50px;
  margin-left: 20px;
  position: relative;

}
#timer {

  font-weight: bold;  
  margin-bottom: 20px;
  right: 50px;
  position:absolute;

}


#questionText {

  font-size: 20px;

}

#choices {

  display: flex;
  flex-flow: column;

}

#choices button {

  margin-top: 30px;
  padding: 5px;
  width: 25%;
  color: white;
  background-color: rgb(55, 20, 55);
  font-size: 13px;
  cursor: pointer;
  margin-bottom: -20px;

}

#choices button:hover {
  opacity: .6;
}



#resultsMenu {

  display: flex;
  flex-flow: column;
  margin-top: 50px;
  margin-left: 20px;
}

#resultsMenu p {
  margin-top: 20px;
  margin-bottom: 20px;
}

#submitScore {
  color: white;
  background-color: rgb(55, 20, 55);
  width: 70px;  
  cursor: pointer;
  }

#highScoreMenu {
  display: flex;
  flex-flow: column;
  align-items: start;
  text-align:left;
  margin-top: 50px;
  margin-left: 20px;
}

#highScoreMenu h1 {
  font-size: 20px;
  margin-bottom: 20px;

}

#scoreTable {
  display: flex;
  flex-flow: column;


}

.score-buttons button {
  color: white;
  background-color: rgb(55, 20, 55);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;


}

